//nav
//    ul.test
//        li.test
//            a.test(href='/src/pages/chats.html' title='Чаты') Чаты
//        li.test
//            a.test(href='/src/pages/error_404.html' title='404') 404
//        li.test
//            a.test(href='/src/pages/error_500.html' title='500') 500
//        li.test
//            a.test(href='/src/pages/login.html' title='Логин') Логин
//        li.test
//            a.test(href='/src/pages/registration.html' title='Регистрация') Регистрация
//        li.test
//            a.test(href='/src/pages/settings.html' title='Настройки') Настройки

//h1.entry-page__title Who Are You?
    //.entry-page__buttons
    //    a.entry-page__button(href='/src/pages/login/login.html' title='Вход') ВХОД
    //    a.entry-page__button(href='/src/pages/registration/registration.html' title='Регистрация') РЕГИСТРАЦИЯ
h1
