$size: 100%;
$blue: #3369F3;
$white: #f9f9f9;

.input-form {
  display: block;
  height: 1.5em;
  width: $size;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid $blue;
  background-color: $white;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  max-width: 300px;

  &_image {
    display: none !important;
}

  &_text {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid $blue;
    background-color: $white;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    max-width: 300px;
}
}
