-const linkList = [{url: '/src/pages/chats.html', title: 'Чаты'}, {url: '/src/pages/error_404.html', title: '404'},{url: '/src/pages/error_500.html', title: '500'},{url: '/src/pages/login.html', title: 'Логин'}, {url: '/src/pages/registration.html', title: 'Регистрация'}, {url: '/src/pages/settings.html', title: 'Настройки'}]


doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        link(rel='icon' type='image/svg+xml' href='/static/favicon.ico')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Who Are You?
    body.entry-page
        main.modal(id="#app")
            h1.entry-page__title Who Are You?
            .entry-page__buttons
                a.entry-page__button(href='/src/pages/login.html' title='Вход') ВХОД
                a.entry-page__button(href='/src/pages/registration.html' title='Регистрация') РЕГИСТРАЦИЯ
            nav
                each item in linkList
                    ul.navigation
                        li.navigation
                            a(href=item.url) #{item.title}
    script(type='module' src='src/pages/index/index.ts')
