doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        link(rel='icon' type='image/svg+xml' href='/static/favicon.ico')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Who Are You?
    body.entry-page
        main.modal
            #app
                nav
                    ul.test
                        li.test
                            a.test(href='/src/pages/chats.html' title='Чаты') Чаты
                        li.test
                            a.test(href='/src/pages/error_404.html' title='404') 404
                        li.test
                            a.test(href='/src/pages/error_500.html' title='500') 500
                        li.test
                            a.test(href='/src/pages/login.html' title='Логин') Логин
                        li.test
                            a.test(href='/src/pages/registration.html' title='Регистрация') Регистрация
                        li.test
                            a.test(href='/src/pages/settings.html' title='Настройки') Настройки
    script(type='module' src='src/pages/index/index.ts')
