doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        link(rel='icon' type='image/svg+xml' href='/static/favicon.ico' alt='Favicon')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Ошибка 404
    body.modal.modal_theme_404
        main.modal
            h5.modal__error-text ИНОГДА ПОТЕРЯТЬСЯ ЭТО НЕ ПЛОХО
            a.modal__return-link(title='Назад к чатам' href='../login/login.html') Назад к чатам
    script(type='module' src='./error_404.js')