$blue: #3369F3;
$white: #f9f9f9;


.button {
  background-color: $blue;
  border: 2px solid $blue;
  color: $white;
  cursor: pointer;

  $size: 100%;

  &_size_big {
    display: block;
    height: 1.5em;
    width: $size;
    border-radius: 5px;
    margin: 20px 0 0;
}

  &_size_small {
    margin: 10px;
    border-radius: 100%;
}

  &_reset {
    background-color: $white !important;
    color: $blue !important;
}
}
