
<form class="form" name="auth">
  <h3 class="form__title"></h3>
  <div class="form__input-box">
    <input class="form__field form__login" type="text" name="login" placeholder="Логин" required="required" autocomplete="on"/><span class="error-message" name="error-login"></span>
    <input class="form__field form__password" type="password" name="password" placeholder="Пароль" required="required" autocomplete="on"/><span class="error-message" name="error-password"></span>
  </div><a class="form__button-link" title="Вход" href="/src/pages/chats.html">
    <button class="button button_submit button_size_big" type="submit" title="Вход" disabled="disabled">Вход</button></a>
</form>
