doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        link(rel='icon' type='image/svg+xml' href='/static/favicon.ico')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Вход
    body.modal.modal_theme_settings
        form.form.form__settings(name='settings' novalidate)
            .form__input-box.form.form__settings
                input.form__field.form__field_image(type='file' name='avatar' placeholder='Аватар')
                figure.avatar
                    img.avatar__img(src='https://avatars.githubusercontent.com/u/52495622?s=96&v=4' alt='avatar')
                    figcaption.avatar__figcaption
                        img.avatar__logo(src='../../../static/camera.svg')
                input.form__field.form__field_text(type='email' name='email' placeholder='Почта пользователя')
                input.form__field.form__field_text(type='text' name='login' placeholder='Логин пользователя')
                input.form__field.form__field_text(type='text' name='first_name' placeholder='Имя пользователя')
                input.form__field.form__field_text(type='text' name='second_name' placeholder='Фамилия пользователя')
                input.form__field.form__field_text(type='tel' name='phone' placeholder='Телефон пользователя')
            input.form__field.form__field_button(type='button' value='Сохранить' name='Сохранить')
            input.form__field.form__field_button.form__field_button_reset(type='reset' value='Отмена' name='Отмена')
    script(type='module' src='./settings.js')