doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        link(rel='icon' type='image/svg+xml' href='/static/favicon.ico')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Чаты
    body.modal.modal_theme_chat
        main.modal
            h5  Лента чатов
    script(type='module' src='./chats.js')
