.avatar {
  position: relative;

  $size: 100%;

  &__figcaption {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
    border-radius: $size;
    opacity: 0;
    background-color: rgb(0 0 0 / 0%);
    transition: all ease-in-out 0.5s;

    &:hover {
      opacity: 1;
      background-color: rgb(0 0 0 / 50%);
  }
}

  &__img {
    cursor: pointer;
    border-radius: 100%;
    border: 2px solid transparent;
    transition: all ease-in 0.5s;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
    box-sizing: border-box;

    &:hover {
      box-shadow: 0 2px 2px 0 rgb(0 0 0 / 50%);
  }

    $size: 100px;

    &_size_big {
      width: $size;
      height: $size;
  }

    $size: 50px;

    &_size_small {
      width: $size;
      height: $size;
  }
}

  &__logo {
    color: #f9f9f9;

    $size: 50px;

    &_size_big {
      width: $size;
      height: $size;
      margin: calc($size*1/2) 0 0 calc($size*1/2);
  }

    $size: 20px;

    &_size_small {
      width: $size;
      height: $size;
      margin: calc($size*4/5) 0 0 calc($size*4/5);
  }
}

  $size: 50px;

  &_size_small {
    width: $size;
    height: $size;
    margin: calc($size/3);
}

  $size: 100px;

  &_size_big {
    width: $size;
    height: $size;
    margin: calc($size/3);
}
}
