export default template = `
figure.avatar.avatar_size_small
    img.avatar__img.avatar__img_size_small(src=userPic, alt=userName)
    figcaption.avatar__figcaption
        img.avatar__logo.avatar__logo_size_small(src='/static/camera.svg')
`;
